# Laravel & PHP general
/vendor
/node_modules
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
.phpunit.result.cache
/.vscode
/.idea
/.php-cs-fixer.cache

# Laravel specific
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs

# Composer
composer.phar

# NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel Mix
/public/hot
/public/js/*.js
/public/js/*.js.map
/public/css/*.css
/public/css/*.css.map
/public/mix-manifest.json
/public/mix.js
/public/mix.js.map
/public/mix.css
/public/mix.css.map

# IDE specific
/.idea
/.vscode

# MacOS specific
.DS_Store

# Thumbnails
Thumbs.db

# env
.env.*
!.env.example

# Cache
/.phpunit.result.cache

# Logs
/storage/logs/*.log

# Coverage reports
/coverage/

# Generated keys
/storage/*.key
